* {
    margin: 0; 
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    
  }
  
  header {
    background-color: rgb(104, 32, 171);
    color: whitesmoke;
    border: red 1px solid;
    padding: 20px 2px;
    
    } 
  
 #encabezado1 { 
      display:flex;
      justify-content: space-between;
      align-items: baseline;
      }

  nav {
    display: flex;
    justify-content: space-around;
    padding: 18px;
    align-items: center;
  }
    #barra1 {
      width: 400px;
      border: white 1px solid;
    }
    
    .banner-deslizante {
    background-color: rgb(167, 167, 14);
    border: red 1px solid;
    padding: 100px;
  }

  #navegacion {
    display: flex;
    justify-content: space-between;
  }

.categorias {
  border: red 1px solid;
  
  #exclusivo {
    height: 200px;
    text-align: center;
    }
  #alimento {
    height: 200px;}
  #snacks {
    height: 200px;}
  #novedades {
    height: 200px;}
  #juguetes {
    height: 200px;  }
  #accesorios {
    height: 200px; }
  #farmacia {
    height: 200px;}
  
  padding: 10px 30px

  } 